<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>@ViewData["Title"] </title>


            @RenderPage("~/Views/Shared/_BaseCSS.cshtml")

</head>

    <body>
        <!--*******************
            Preloader start
        ********************-->
        <div id="preloader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->
        <div id="main-wrapper" class="show menu-toggle">


            @RenderPage("~/Views/Shared/_header.cshtml")
            @RenderPage("~/Views/Shared/_Navigation.cshtml")

            <!--**********************************
                Content body start
            ***********************************-->
            <div class="content-body">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>



            <!--**********************************
            Footer start
            ***********************************-->
            <div class="footer hidden">
                <div class="copyright">
                    <p>Copyright © <a href="dashboard.html" target="_blank">RENALIQ INSIGHTS</a> 2021</p>
                </div>
            </div>
            <!--**********************************
            Footer end
            ***********************************-->
        </div>

        <!--**********************************
            Main wrapper end
        ***********************************-->
        @RenderPage("~/Views/Shared/_BaseJs.cshtml")


    </body>


</html>




