@{
    Layout = null;
    var userClaims = User.Identity as System.Security.Claims.ClaimsIdentity;
    var adUser = SomatusAnalytics.Common.UserContextManager.isADUser();
    var firstTimeLogin = SomatusAnalytics.Common.UserContextManager.isFirstTimeLogin();
    var menuList = SomatusAnalytics.Common.UserContextManager.getMenu();
    var role = SomatusAnalytics.Common.UserContextManager.getRole();
    var theme = SomatusAnalytics.Common.Settings.THEME;
    var logo = "/theme/indoqubix/img/default-logo.png";
    var homeURI = HttpContext.Current.Session["HomeURI"] as string;
    var displayMenu = SomatusAnalytics.Common.UserContextManager.isDisplayMenu();
    var currentUri = Request.Url.AbsolutePath;
    var displaySplashPage = (!string.IsNullOrEmpty(homeURI) && homeURI.Equals(currentUri, StringComparison.OrdinalIgnoreCase))&& SomatusAnalytics.Common.Settings.SHOW_SPLASH_HOME_FLG;
}

<!--**********************************
      Sidebar start
  ***********************************-->

@if (displaySplashPage)
{
    <div id="splashPage" class="splash-page">
        @RenderPage("~/Views/SplashPage/SplashPage.cshtml")
    </div>
}

<div class="deznav deznavWithLogo">
    <div class="logout-btn">
        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>

            @if (@firstTimeLogin == false)
            {
                if (@menuList != null)
                {
                    foreach (SomatusAnalytics.Models.MenuModel menu in @menuList as List<SomatusAnalytics.Models.MenuModel>)
                    {
                        <li class="menu menu-@menu.uri" id="menu-@menu.id" data-parent="NA">

                            @if (@menu.seqNo == 0)
                            {
                                homeURI = menu.uri;

                                if (@menu.is_static)
                                {
                                    <a href="~/Static/content/@menu.uri" class="no-child">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><polygon fill="#000000" opacity="0.3" points="5 7 5 15 19 15 19 7" />       <path d="M11,19 L11,16 C11,15.4477153 11.4477153,15 12,15 C12.5522847,15 13,15.4477153 13,16 L13,19 L14.5,19 C14.7761424,19 15,19.2238576 15,19.5 C15,19.7761424 14.7761424,20 14.5,20 L9.5,20 C9.22385763,20 9,19.7761424 9,19.5 C9,19.2238576 9.22385763,19 9.5,19 L11,19 Z" fill="#000000" opacity="0.3" /><path d="M5,7 L5,15 L19,15 L19,7 L5,7 Z M5.25,5 L18.75,5 C19.9926407,5 21,5.8954305 21,7 L21,15 C21,16.1045695 19.9926407,17 18.75,17 L5.25,17 C4.00735931,17 3,16.1045695 3,15 L3,7 C3,5.8954305 4.00735931,5 5.25,5 Z" fill="#000000" fill-rule="nonzero" /></g></svg>

                                        <span class="nav-text" id="label-@menu.uri">@menu.label</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="~/SI/report/@menu.uri" class="no-child">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><polygon fill="#000000" opacity="0.3" points="5 7 5 15 19 15 19 7" />       <path d="M11,19 L11,16 C11,15.4477153 11.4477153,15 12,15 C12.5522847,15 13,15.4477153 13,16 L13,19 L14.5,19 C14.7761424,19 15,19.2238576 15,19.5 C15,19.7761424 14.7761424,20 14.5,20 L9.5,20 C9.22385763,20 9,19.7761424 9,19.5 C9,19.2238576 9.22385763,19 9.5,19 L11,19 Z" fill="#000000" opacity="0.3" /><path d="M5,7 L5,15 L19,15 L19,7 L5,7 Z M5.25,5 L18.75,5 C19.9926407,5 21,5.8954305 21,7 L21,15 C21,16.1045695 19.9926407,17 18.75,17 L5.25,17 C4.00735931,17 3,16.1045695 3,15 L3,7 C3,5.8954305 4.00735931,5 5.25,5 Z" fill="#000000" fill-rule="nonzero" /></g></svg>
                                        <span class="nav-text" id="label-@menu.uri">@menu.label</span>
                                    </a>
                                }


                                <ul aria-expanded="false">
                                    <li class="nav-label-mini is-alone"><a class="ai-icon" href="/">HOME</a></li>
                                </ul>


                            }
                        </li>

                    }
                }
            }

            @if (menuList != null && menuList.Count > 1)
            {
                <li class="nav-label hidden">Business Analytics Reports</li>
                <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><path d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z" fill="#000000" opacity="0.3" /><path d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z" fill="#000000" /></g></svg>
                        <span class="nav-text">Reports</span>
                    </a>
                    <ul aria-expanded="false">
                        <li class="nav-label-mini">Reports  @menuList.Count</li>
                        @if (@firstTimeLogin == false)
                        {
                            if (@menuList != null)
                            {
                                foreach (SomatusAnalytics.Models.MenuModel menu in @menuList as List<SomatusAnalytics.Models.MenuModel>)
                                {
                                    if (@menu.label.Equals("HOME") || @homeURI.Equals(@menu.uri))
                                    {
                                        continue;
                                    }

                                    if (@menu.subMenu == null)
                                    {

                                        <li class="menu menu-@menu.uri" id="menu-@menu.id" data-parent="NA">

                                            @if (@menu.is_static)
                                            {
                                                <a href="~/Static/content/@menu.uri">
                                                    <span id="label-@menu.uri">@menu.label</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="~/SI/report/@menu.uri">
                                                    <span id="label-@menu.uri">@menu.label</span>
                                                </a>
                                            }
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">@menu.label</a>
                                            <ul aria-expanded="false">

                                                @foreach (SomatusAnalytics.Models.MenuModel subMenu in menu.subMenu as List<SomatusAnalytics.Models.MenuModel>)
                                                {
                                                    <li class="menu menu-@subMenu.uri" data-parent="menu-@menu.id" id="menu-@subMenu.id">
                                                        @if (@subMenu.is_static)
                                                        {
                                                            <a href="~/Static/content/@subMenu.uri"><span id="label-@subMenu.uri">@subMenu.label</span></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="~/SI/report/@subMenu.uri"><span id="label-@subMenu.uri">@subMenu.label</span></a>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </li>

                                    }
                                }
                            }
                        }


                    </ul>
                </li>
            }



            <li class="nav-label">Self Service Reports</li>
            <li class="menu-report-builder" id="menu-datareport" data-parent="NA">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" /><path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" /></g>
                    </svg>
                    <span class="nav-text">Self Service</span>
                </a>
                <ul aria-expanded="false">
                    <li class="nav-label-mini">Self Service</li>
                    <li main-ref="datareport" id="datareport-list"><a href="/reportbuilder/list">View Reports</a></li>
                    @if (adUser && (role != null && !role.Contains("CALL CENTER")))
                    {
                        <li main-ref="datareport" id="datareport-configure"><a href="/reportbuilder/configure">Build New Report</a></li>
                    }
                </ul>
            </li>



            @if (role != null && role.Contains("ADMIN"))
            {
                <li class="nav-label ">System Admin</li>
                <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><path d="M3,4 L20,4 C20.5522847,4 21,4.44771525 21,5 L21,7 C21,7.55228475 20.5522847,8 20,8 L3,8 C2.44771525,8 2,7.55228475 2,7 L2,5 C2,4.44771525 2.44771525,4 3,4 Z M3,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,13 C14,13.5522847 13.5522847,14 13,14 L3,14 C2.44771525,14 2,13.5522847 2,13 L2,11 C2,10.4477153 2.44771525,10 3,10 Z M3,16 L13,16 C13.5522847,16 14,16.4477153 14,17 L14,19 C14,19.5522847 13.5522847,20 13,20 L3,20 C2.44771525,20 2,19.5522847 2,19 L2,17 C2,16.4477153 2.44771525,16 3,16 Z" fill="#000000" /><rect fill="#000000" opacity="0.3" x="16" y="10" width="5" height="10" rx="1" /></g></svg>
                        <span class="nav-text">Management</span>
                    </a>
                    <ul aria-expanded="false">
                        <li class="nav-label-mini">Management</li>
                        <li><a href="/user/list">User Management</a></li>
                        <li class="hidden1"><a href="/content/list">Content Management</a></li>
                    </ul>
                </li>
            }

            <li>

            </li>

        </ul>
    </div>
    <div class="logout-btn hidden">
        <div class="nav-control">
            <div class="hamburger is-active">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <div class="logoSideNav">
        <img class="logo-abbr mx-auto" src="~/theme/light/images/indo-small.png" alt="">
        <img class="brand-title mx-auto" src="~/theme/light/images/indoqubix-logo.png" alt="">
    </div>
</div>


<!--**********************************
    Sidebar end
***********************************-->
